@model KotaeteMVC.Models.FollowersViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
    ViewBag.Title = Model.OwnerProfile.ScreenName + "'s followers";
}

@section Profile {
    @Html.Partial("Profile", Model.OwnerProfile)
}
<h2>Followers</h2>

@foreach (var user in Model.Followers)
            {
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.Partial("MiniProfile", user)
    </div>
}