@model KotaeteMVC.Models.FollowersViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
    ViewBag.Title = "Followed by " + Model.OwnerProfile.ScreenName;
}

@section Profile {
    @Html.Partial("Profile", Model.OwnerProfile)
}
<h2>Following</h2>

<div id="follower-grid">
    @Html.Partial("MiniProfileGrid", Model)
</div>

@section scripts {
    @Scripts.Render("~/Scripts/App/paginator.js")
}