@model KotaeteMVC.Models.FollowersViewModel

@{
    ViewBag.Title = "Followed by " + Model.OwnerProfile.ProfileUserName;
}

<div class="container" id="page-body">

    <div class="row">
        <div class="col-md-3">
            @{ Html.RenderPartial("Profile", Model.OwnerProfile); }
        </div>

        <div class="col-md-9">
            <h2>Following</h2>

            @foreach (var user in Model.Followers   )
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    @Html.Partial("MiniProfile", user)  
                </div>
            }

        </div>
    </div>

</div>