@model KotaeteMVC.Models.FollowersViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
    ViewBag.Title = "Followed by " + Model.OwnerProfile.ScreenName;
}

@section Profile {
    @Html.Partial("Profile", Model.OwnerProfile)
}
<h2>Following</h2>

@foreach (var user in Model.Followers)
{
    <div id="following-list" class="col-md-4 col-sm-6 col-xs-12">
        @Html.Partial("MiniProfile", user.Profile)
    </div>
}

@Html.Partial("Pagination", Model)