@model KotaeteMVC.Models.FollowersViewModel

@foreach (var profile in Model.Followers)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        @Html.Partial("MiniProfile", profile)
    </div>
}

@Html.Partial("Pagination", Model)