body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    min-width: 100%;
}

.ask-text-area {
    width: 500px;
}

.avatar {
    width: 100%;
    height: auto;
    /*margin-top: -15px !important;*/
}

#profile-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#profile-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#profile-column {
    
}

#page-body {
    margin-top: 20px;
}

.user-name {
    font-size:1.2em;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.profile-body {
    padding: 0.5em;
    padding-top: 0.1em;
}

.follow-button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width:80%;
}

.button-row {
    margin-bottom: 0.8em;
    text-align: center;
}

.follow-indication {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.follow-indication span {
    width:100%;
    display:block;
    padding: 0.5em;
    border-radius: 0px;
}

.user-alert {
    padding: 0.5em;
    margin-bottom: 0.8em;
}

#alert-container {
    margin-top: 0.5em;
}