body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
    min-width: 100%;
}

.ask-text-area {
    width: 500px;
}

.avatar {
    width: 100%;
    height: auto;
}

#profile-body {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#profile-header {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#profile-column {
}

#page-body {
    margin-top: 20px;
}

.user-name {
    font-size:1.2em;
    margin-left: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.profile-body {
    padding: 0.5em;
    padding-top: 0.1em;
}

.follow-button {
    padding: 5px;
    width: 100%;
}

.button-row {
    margin-bottom: 0.8em;
    text-align: center;
}

.follow-indication {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0.5em;
}

.follow-indication span {
    width:100%;
    display:block;
    padding: 0.5em;
    border-radius: 0px;
}

.user-alert {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0.8em;
}

#alert-container {
    margin-top: 0.5em;
}

.profile-stats-container {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.profile-stats-container p {
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.profile-stats-container .row {
    margin-top: 5px;
}

.question-asked-avatar {
    min-width: 60px;
    max-width: 60px;
}

.question-asked-avatar a:hover > img {
        border: 1px solid #1713FF;
}

.question-asked-avatar a > img {
    height: auto;
    width: 40px;
    border: 1px solid #BDBBFF;
}

.question-panel-right .row {
    padding-left: 10px;
    line-height: 1em;
}

.question-meta {
    font-size: small;
    font-variant: small-caps;
    padding: 0px;
    padding-bottom: 10px;
}

.qst-detail-answer .answer-buttons {
    padding-top: 10px;
}

.question-delete-button {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.error-container {
    margin-top: 50px;
}
.navbar {
    border: 0px !important;
}

.navbar-avatar-img {
    height: 50px;
    width: auto;
}

.navbar-avatar {
    padding: 0px !important;
}

.navbar .container {
    max-width: 1000px;
}

.login input,
.login text
{
 min-width: 0% !important;
 max-width: 300px;
}

.login {
    max-width: 800px;
}

#pagination-ajax-loader {
    position: relative;
    top: 50%;
    left: 50%;
}

.fadeout {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#paginator-loading {
    position: absolute;
    top: 50%;
    left: 50%;
}