@model List<KotaeteMVC.Models.QuestionDetailAnswerViewModel>

@if (Model.QuestionDetails.Count > 0)
{

    foreach (var question in Model)
    {
        Html.RenderPartial("InboxQuestion", question);
    }
}
else
{
    <div class="jumbotron">
        <h3>You have no questions!</h3>
        <p>What a pity. You can get a random question or try making some friends <span class="glyphicon glyphicon-heart"></span></p>
    </div>
}
