@using Resources
@model KotaeteMVC.Models.ViewModels.InboxViewModel

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

@section Profile {
    @Html.Partial("Profile", Model.Profile)
}

<h2>@InboxStrings.InboxTitle</h2>

<div id="inbox-questions">
@Html.Partial("InboxQuestionList", Model.QuestionDetails)
</div>