@model KotaeteMVC.Models.ProfileQuestionDetailViewModel

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

@section Profile {
    @Html.Partial("Profile", Model.Profile)
}

<h2>Inbox</h2>

@if (Model.QuestionDetails.Count > 0)
{

    foreach (var question in Model.QuestionDetails)
    {
        Html.RenderPartial("InboxQuestion", question);
    }
}
else
{
    <div class="jumbotron">
        <h3>You have no questions!</h3>
        <p>What a pity. You can get a random question or try making some friends <span class="glyphicon glyphicon-heart"></span></p>
    </div>
}

