@using Resources;
@model KotaeteMVC.Models.ErrorViewModel

@{
    ViewBag.Title = Model.ErrorTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-container container">
    @Html.Partial("ErrorDetail", Model)
</div>