@using Resources
@model KotaeteMVC.Models.ViewModels.FollowButtonViewModel

<div class="button-row">
    @{ string action = Model.IsFollowing ? "UnfollowUser" : "FollowUser";
        string buttonClass = Model.IsFollowing ? "btn-danger" : "btn-primary";
        string buttonText = Model.IsFollowing ? UsersStrings.FollowButton : UsersStrings.UnfollowButton;
    }
    @using (Ajax.BeginForm(action, "User", new { @userName = Model.UserName }, new AjaxOptions
    {
        OnSuccess = "FollowOnSuccess(" + Model.IsFollowing.ToString() + ')'
    }))
    {
        <button type="submit" class="btn btn-lg @buttonClass follow-button">
            @buttonText
        </button>
    }
</div>