@using Resources
@model KotaeteMVC.Models.ViewModels.MoreButtonViewModel

<div class="more-button">
    <input type="button" data-target="@Model.TargetElementId" data-url="@Model.RequestUrl" class="btn" value="@MainGlobal.MoreButton"/>
</div>
