@model KotaeteMVC.Models.ContentQuestionDetailViewModel

<div id="ask-question" class="panel panel-default">
    <div class="panel-heading">
        Ask a question!
    </div>
    @using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { @class = "panel-body" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false,"", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                @Html.TextAreaFor(model => model.QuestionContent, 5, 50, new { @class = "ask-question-box", @placeholder = "Your question for " + Model.AskedToScreenName + " here" })
            </div>
        </div>
            @Html.HiddenFor(model => model.AskedToUserName)
            <div class="form-group pull-left">
                <div>
                    <input type="submit" value="Ask" class="btn btn-default" />
                </div>
            </div>
    }
</div>