@model KotaeteMVC.Models.ViewModels.AnswerListProfileViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Answers.Any() == false)
{
    Html.RenderPartial("NoAnswers");
} else
{
    foreach (var answer in Model.Answers)
    {
        Html.RenderPartial("AnswerDetail", answer);
    }
}

@Html.Partial("ItemListPagination", Model)

@section Profile {
    @Html.Partial("Profile", Model.Profile)
}