@using Resources
@model KotaeteMVC.Models.ViewModels.ProfileViewModel

@{
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}


@section Profile {
    @Html.Partial("Profile", Model)
}

<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <p>@ViewBag.NoAnswersMessage</p>
</div>
