@using KotaeteMVC.Models.ViewModels.NotificationModels
@model AnsweredNotificationViewModel

@if (Model.AnswerNotificationType == AnsweredNotificationViewModel.AnswerNotificationTypeEnum.CurrentUserAnswer)
{
<div class="notification">
        <img class="mini-avatar" src="@Model.AnsweringUser.AvatarUrl" alt="@Model.AnsweringUser.ScreenName" />
        @Model.AnsweringUser.ScreenName answered your question
</div>
}