@model KotaeteMVC.Models.QuestionDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProfileContentLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuestionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AskedTo.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AskedTo.Avatar)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
