@{
    ViewBag.Title = "Q&A Social Network";
}

<div id="main-page">
    <div class="jumbotron main-jumbotron">
        <h1>Kotaete</h1>
        <p class="lead">You can try this proof of concept of a social network based on Q&A, built around ASP.NET MVC and Bootstrap.</p>
        <p class="note">Kotaete (答えて) is Japanese for "Answer me!"</p>
    </div>

    <div id="content-highlight">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <div class="highlight">
                    <h2>Try at once!</h2>
                    <p>
                        You can log in as one of the following users:
                    </p>
                    <ul>
                        <li><strong>Duck</strong>, Password: 1</li>
                        <li><strong>Turtle</strong>, Password: 1</li>
                    </ul>
                    <p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Login Page</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="highlight">
                    <h2>Source Code</h2>
                    <p>
                        You can browse the source code at my GitHub Repository
                    </p>
                    <p><a class="btn btn-default" href="https://github.com/seranfuen/kotaete">GitHub Repository</a></p>
                </div>
            </div>
        </div>
    </div>
</div>